<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>A propos</title>
    <link href="../css/aboutView.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>

<!-- Beginning of the block "homeWrapper" -->
<div id="mainWrapper">

    <!-- Beginning of the block "mainHeader" -->
    <header id="mainHeader">
        <img src="../files/pictures/logo-geo.png" alt="Logo Geo" title="logo-geo">

        <!-- Beginning of the block "mainNav -->
        <nav id="mainNav">
            <ul id="mainMenu">
                <li class="positionningLeft"><a href="../index.html">Accueil</a></li>
                <li class="positionningLeft"><a href="">A propos</a></li>
                <li class="positionningLeft"><a href="musicView.php">Musiques</a></li>
                <li class="positionningLeft"><a href="textView.php">Textes</a></li>
                <li class="positionningLeft"><a href="galleryView.php">Galerie</a></li>
                <li class="positionningLeft"><a href="pressView.php">Presse</a></li>
                <li class="positionningLeft"><a href="contactView.html">Contact</a></li>
                <div class="clear"></div>
            </ul>
        </nav>
        <!-- End of the block "mainNav" -->

    </header>
    <!-- End of the block "mainHeader" -->

    <!-- Beginning of the block mainContent" -->
    <div id="mainContent">

        <!-- Beginning of the block "picturesSliderHome" -->
        <section id="sliderContainer" class="positionningLeft">
            <figure id="sliderContent">
                <img src="../files/pictures/slider-about-img1.png" alt="A propos Geo" title="slider-about-img1">
                <img src="../files/pictures/slider-about-img2.png" alt="A propos Geo" title="slider-about-img2">
                <img src="../files/pictures/slider-about-img3.png" alt="A propos Geo" title="slider-about-img3">
                <img src="../files/pictures/slider-about-img4.png" alt="A propos Geo" title="slider-about-img4">
            </figure>
        </section>
        <!-- End of the block "picturesSliderHome" -->

        <!-- Beginning of the block "about" -->
        <section id="about" class="positionningLeft">
            <figure class="positionningLeft" id="pictureAbout1">
                <img src="../files/pictures/about1.png" alt="A propos geo photo 1" title="about1.png">
            </figure>
            <p id="paragraphAbout1">
                Geo est un auteur-interprète français qui compose en observant. C’est un discret voleur d’âmes.<Br>
                A l’écoute de son père musicien, il prend le désir, jeune, de le devenir à son tour. Pas pour être un virtuose.
                Simplement pour transmettre, dévoiler. C’est finalement tard, vers 17 ans, qu’il emprunte la guitare de son père et
                se met à composer d’abord en anglais avec son premier groupe « A FAMILY REUNION ».
            </p>
            <figure class="positionningRight" id="pictureAbout2">
                <img src="../files/pictures/about2.png" alt="A propos geo photo 2" title="about2.png">
            </figure>
            <p id="paragraphAbout2">
                Mais Geo est un poète qui aime caresser les mots jusqu’à les châtier parfois afin d’en sortir l’essence et surtout le
                contre-sens. Il cultive les contrastes dans ses compositions, comme le clair-obscur des vies qu’il épie avant de les
                compiler. C’est dans l’écriture en français qu’il trouve les ressources nécessaires au façonnage des histoires qu’il
                dévoile.<br>
            </p>
            <p id="paragraphAbout3">
                Parfois léger, guilleret, l’univers de Geo est surtout feutré et profond. L’homme est plutôt réservé. Il dit ne pas savoir
                parler, que c’est pour cela sûrement qu’il écrit des chansons.<br>
                Il investit les sujets en profondeur. En dit beaucoup sur les autres, beaucoup moins sur lui. Parfois les thèmes sont
                plus personnels, mais il le tait. Souvent les chansons ont un sens caché. Comme l’homme…
                En 2000, il crée le groupe limougeaud BONEL avec lequel il collaborera pendant 15 ans. Avec cette nouvelle famille,
                il auto-produira 3 albums (« Tel quel » - 2002, « Plus le même homme » - 2006, « Voir grandir tes chaussures » - 2012).
                Il terminera l’aventure par un Brive Festival et une première partie des Ogres de Barback.
            </p>
            <figure class="positionningRight" id="pictureAbout3">
                <img src="../files/pictures/about3.png" alt="A propos geo photo 3" title="about3.png">
            </figure>
            <p id="paragraphAbout4">
                En 2015, il se lance dans une aventure solo où il se livre entier, la plume à l’état brut.<br>
                Ses rendez-vous avec le public sont un partage. Il y ouvre son carnet de chansons comme on ouvrirait un carnet
                de voyage. Une promenade dans la chronologie de récits amoureux, solitaires ou engagés. Dans ses nouvelles
                mises en musique s’entremêlent tour à tour passion,
            </p>
            <figure class="positionningLeft" id="pictureAbout4">
                <img src="../files/pictures/about4.png" alt="A propos geo photo 4" title="about4.png">
            </figure>
            <p>
                résignation, espoirs et illusions perdues.<br>
                Comme les textes, sa voix est émouvante, écorchée… intime.<br>
                A son image.
            </p>
        </section>
        <!-- End of the block "about" -->

        <div class="clear"></div>

    </div>
    <!-- End of the block "mainContent" -->

    <!-- Beginning of the block "mainFooter" -->
    <footer id="mainFooter">

        <!-- Beginning of the block "contactInformations" -->
        <section id="contactInformations" class="positionningLeft">
            <p>
                <span class="red"> Geo</span>
            </p>
            <p>
                <span class="red">Numéro sociétaire SACEM:</span> 00422957156
            </p>
            <p>
                <span class="red">Téléphone:</span> 06.86.47.21.64
            </p>
            <p>
                <span class="red">Email:</span> geo-artiste@hotmail.com
            </p>
        </section>
        <!-- End of the block "contactInformations" -->

        <!-- Beginning of the block "variousInformations" -->
        <section id="variousInformations" class="positionningLeft">
            <figure>
                <img src="../files/pictures/logo-sacem.png" alt="Logo SACEM" title="logo-sacem.png">
            </figure>
            <p>
                <span class="red">Crédit photos:</span>
            </p>

            <p>
                <a href="http://www.ipernity.com/misstigri" target="_blank">Adeline C.</a>
            </p>
        </section>
        <!-- End of the block "variousInformations" -->

        <!-- Beginning of the block "realizationInformations" -->
        <section id="realizationInformations" class="positionningLeft">
            <p>
                <span class="red"> Site réalisé par:</span>
            </p>
            <p>
                <a href="http://www.lcgraphandweb.com" target="_blank">LC Graph & Web</a>
            </p>
        </section>
        <!-- End of the block "realizationInformations" -->

        <div class="clear"></div>
        <p class="copyright">
            @2016 - Geo - Tous droits réservés.
        </p>
    </footer>
    <!-- End of the block "mainFooter" -->

</div>
<!-- End of the block "homeWrapper" -->

</body>
</html>